.message {
	padding: 5px;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	transition: all 0.1s linear;
}
.message:hover {
	background: rgb(50, 53, 59);
	transition: all 0.1s linear;
}
.message img {
	width: 35px;
	height: 35px;
	background: white;
	border-radius: 50%;
}

.message__main {
	color: white;
	margin-left: 20px;
}
.message__main__header {
	margin-bottom: 5px;
}
.message__main__header__name {
	font-weight: 700;
	margin-right: 10px;
}
.message__main__header__name:hover {
	text-decoration: underline;
}
.message__main__header__timestamp {
	font-size: 70%;
	color: rgb(108, 113, 123);
}
.message__main__content {
	color: rgb(209, 221, 222);
	font-size: 90%;
}

.message__icons {
	display: none;
	position: absolute;
	right: 10px;
	top: -15px;
	color: rgb(185, 187, 190);
	background: rgb(54, 57, 63);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 4px 0 0 0;
}
.message__icons .MuiSvgIcon-root {
	font-size: 140%;
	margin: 0 5px;
	cursor: pointer;
}
.message__icons .MuiSvgIcon-root:hover {
	color: white;
	transition: all 0.1s linear;
}
.message:hover .message__icons {
	display: block;
	transition: all 0.1s linear;
}

.message__iconsMore {
	width: 200px;
	color: rgb(185, 187, 190);
	background: rgb(24, 25, 28);
	padding: 5px;
	position: absolute;
	top: -500%;
	right: 30px;
	border-radius: 10px;
	z-index: 100;
	display: none;
}
.message__iconsMore__option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: 2px 0;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.1s linear;
}
.message__iconsMore__option.delete {
	color: rgb(237, 66, 69);
}
.message__iconsMore__option:hover {
	color: white;
	background: rgb(88, 101, 242);
	transition: all 0.1s linear;
}
.message__iconsMore__option.delete:hover {
	background: rgb(237, 66, 69);
}
.message__iconsMore__option p {
	font-size: 80%;
}
.message__iconsMore__option .MuiSvgIcon-root {
	font-size: 120%;
}
